html {
    font-size: 16px;
    font-family: monospace;
}

h1 {
    color: #00ff00;
    position: absolute;
    font-size: 64px;
    height: 128px;
    width: 1600px;
    left: 64px;
    font-family: PT Sans, sans-serif;
    text-align: center;
    height: 16px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.block1 {
    position: absolute;
    top: 200px;
    left: 160px;
    height: 256px;
    width: 256px;

}

.block2 {
    p {
        height: 4px;
        text-align: center;
    }
    position: absolute;
    top: 200px;
    left: 480px;
}

.block3 {
    p {
        height: 4px;
        text-align: center;
    }
    position: absolute;
    top: 200px;
    left: 800px;
}

.page-header0 {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #d1d1d1;

}

.page-header1 {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #00a2ff;

}

.page-header2 {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #b10000;
}

.page-header3 {
    position: absolute;
    top: 640px;
    left: 160px;
    width: 1280px;
    height: 480px;
    background-color: #b10000;
}    

.page-header4 {
    position: absolute;
    top: 648px;
    left: 168px;
    width: 1264px;
    height: 464px;
    background-color: #ffffff;
}

.text1 {
    position: absolute;
    left: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.text2 {
    position: absolute;
    left: 16px;
    top: 16px;
    font-family: 'Times New Roman', Times, serif;
}